html,
helix-visualizer,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  outline: 0;
  font-size: 0;
  background-color: #1a1b1f;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* --------------------------------------- */

helix-visualizer {
  display: block;

  canvas {
    max-width: 100%;
  }
}
